<%- include('../includes/head.ejs') %>

</head>
  
  <body>
    <%- include('../includes/navigation.ejs') %>
    <main>
                 <div>
                     <ul>
                         <li>
                             <h2><%= post.title %></h2>
                             <p><%= post.content %></p>
                         </li>
                     </ul>
                     
                     
                 </div>
    </main>
    <%- include('../includes/end.ejs') %>